.AmountAlive {
  margin-top: 20px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;


  .alive-text {
    width: 40%;
    padding-left: 30px;
    -webkit-text-stroke: #FFA007 1px;
  }

  .person-container {
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    .person-a {
      margin: 2px 5px;
      width: 1px;
      flex: 1 0 12%;

    }
    .person-ua {
      margin: 2px 5px;
      width: 1px;
      flex: 1 0 12%;
    }
  }
}
