.login-page {
  background-image: url(../../assets/background.png);
  background-size: cover;
  height: 812px;
  display: flex;
  justify-content: center;
  align-items: center;

  .username-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 350px;

    label {
      color: white;
      font-size: 1.2em;
      text-shadow: -3px 3px #BC7408, 2px -2px #BC7408, 2px 2px #BC7408, -2px -2px #BC7408;
    }

    .name-input {
      margin-top: 20px;
      color: white;
      border-radius: 8px;
      height: 40px;
      border: none;
      background: rgba(10, 10, 123, .25);
      padding: 0 8px;
    }

    .play-button:hover {
      transform: scale(1.05);
    }

    input:focus, input.form-control:focus {
      outline:none !important;
      outline-width: 0 !important;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }

    #username {
      margin-bottom: 50px;
    }

    .play-button {
      transition: transform .2s; /* Animation */
      height: 75px;
    }
  }
}