.footer {
  position: absolute;
  width: 100%;
  z-index: 300;
  bottom: 20px;

  .footer-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    bottom: 0;

    .button-row {
      display: flex;
      justify-content: space-between;

      .a-button {
        width: 49%;
      }
    }
  }
}
