.footer {
  width: 100%;

  .footer-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    padding: 20px;
    bottom: 0;

    .button-row {
      display: flex;
      justify-content: space-between;

      .a-button {
        width: 49%;
      }
    }
  }
}
