.Navbar {
  position: absolute;
  z-index: 10000;
  color: white;
  padding: 20px 0px;
  background: linear-gradient(180deg, #4027BE 0%, rgba(64, 39, 190, 0) 100%);
  width: 100%;
  height: 250px;

  .notif-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .notification {
    margin-top: 2vh;
    display: flex;
    justify-self: center;
    text-align: center;
    width: 80%;
    font-size: 14px;
  }

  .NavLogo {
    width: 210px;
    height: 80px;
    margin-left: 10px;
  }

  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    .in-col {
      text-align: right;
      .hp {
        font-size: 22px;
        margin-bottom: 15px;
        letter-spacing: 0.1em;

        .heart {
          font-size: 26px;
        }
      }

      .alive {
        font-size: 10px;
      }
      line-height: 15px;
    }
  }
}
