.weapons {
  margin-top: 10px;
  .weapons-row {
    display: flex;
    justify-content: space-between;
  }


  
}

.weapon-slot {
  position: relative;
  transition: transform .2s;

  &:hover {
    transform: scale(1.1);
  }

  .weapon {
    position: absolute;
    height: 40px;
    top: 10%;
    left: 22.5%;
  }
}